@use "sass:math";

/*=========================================================
================       CORE STYLES        =================
=========================================================*/

// -------------------------------
// FUNCTIONS
// -------------------------------

// Convert px to rem units
@function pxToRem($unit) {
  @return math.div($unit, 16) + rem;
}

// -------------------------------

// -------------------------------
// VARIABLES
// -------------------------------

// ------------
// BREAKPOINTS
// ------------

$breakpoints: (
  xsm: 400px,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xlg: 1400px,
);

// ------------

// ------------
// COLORS
// ------------

// Primary
$darkBlue: hsl(253, 100%, 16%);
$dodgerBlue: hsl(201, 97%, 61%);
$electricViolet: hsl(280, 88%, 58%);
$purpleHeart: hsl(271, 75%, 53%);

// Neutral
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

// ------------

// ------------
// FONTS
// ------------

// Family
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$fontFamilyPoppins: "Poppins", sans-serif;

// Size
$fontSizeNormal: 1rem;
$fontSizeMainHeadingSm: pxToRem(28);
$fontSizeMainHeadingLg: pxToRem(50);

// Weights
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

// ------------

// -------------------------------

// -------------------------------
// MIXINS
// -------------------------------

// Media breakpoint min-width
@mixin media-breakpoint-up($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// Media breakpoint max-width
@mixin media-breakpoint-down($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

// -------------------------------

// -------------------------------
// GLOBAL STYLES
// -------------------------------

.main {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $darkBlue;
  color: $white;

  &__illustration {
    min-width: 50%;
  }
}
